@use "sass:math";

$mobile-portrait-max: 478px;
$mobile-landscape-max: 767px;
$tablet-max: 991px;
$large-min: 1280px;
$xlarge-min: 1440px;
$xxlarge-min: 1920px;

$green: #7b8b77;
$cream: #f9f4f1;
$orange: #b67350;
$blue: #9cafbd;
$black: #000000;

$default-font-color: $black;
$default-link-color: $black;
$default-hover-color: $black;

$font-family: "Neue Montreal", sans-serif;
$default-font-family: $font-family;
$font-family: $font-family;
