body {
  color: $default-font-color;
  font-family: $body-font-family;
  font-size: 1.1375rem;
  line-height: 1.15;
}

a {
  color: $default-link-color;
  text-decoration: none;
  &:hover {
    color: $default-hover-color;
  }
}

h1 {
  font-family: $heading-font-family;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
}
p {
  font-weight: 400;
}
