@import "/src/styles/config";

.wrapper {
  background-color: $blue;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 50px;

  @media only screen and (max-width: 600px) {
    flex-direction: column-reverse;
    align-items: center;
  }
  .textarea {
    width: 50%;
    margin-top: 100px;
    p {
      text-indent: 4em;
      margin-left: 30px;
      font-size: 2rem;
      line-height: 1.15em;
      @media screen and (max-width: 600px) {
        font-size: unset;
        margin: 0px;
        margin-bottom: 30px;
      }
    }
    @media screen and (max-width: 600px) {
      width: 90%;
      margin: 0px;
    }
  }

  .profilepic {
    width: 50%;
    margin: 120px 30px 20px 0px;
    display: flex;
    justify-content: flex-end;
    @media screen and (max-width: 600px) {
      margin: 100px 0px 0px 0px;
      justify-content: center;
    }
    .img {
      position: sticky;
      overflow: auto;
      top: 90px;
      height: 390px;
      width: 390px;
      z-index: 0;
      background-size: contain;
      background-repeat: no-repeat;
      @media screen and (max-width: 600px) {
        position: unset;
        height: 300px;
        width: 300px;
      }
    }
  }
}
