@import "/src/styles/config";

.wrapper {
  display: flex;
  background-color: $blue;
  flex-direction: column;
  padding-bottom: 30vh;
  h1 {
    padding-left: 30px;
    padding-top: 50px;
  }
  .container {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    flex-wrap: wrap !important;
    padding-top: 50px;

    .email {
      width: 25%;
      @media screen and (max-width: 600px) {
        width: 100%;
      }
    }
    .linkedIn {
      width: 25%;
      @media screen and (max-width: 600px) {
        width: 100%;
      }
    }
    .github {
      width: 25%;
      @media screen and (max-width: 600px) {
        width: 100%;
      }
    }
  }
}
