@import "/src/styles/config";

.wrapper {
  height: 100vh;
  background-color: $green;

  .header {
    height: 86vh;

    background: url("../assets/Bill.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 90%;
    margin-left: 30px;
    transition: all linear 0.4s;
  }

  .textWrapper {
    height: 14vh;
    p {
      margin-left: 30px;
      margin-bottom: 10px;
      position: absolute;
      top: 0;
      font-size: 3rem;
    }
  }

  .bill {
    position: absolute;
    bottom: 0;
    left: 0;
    width: auto;
    margin-left: 5px;
    transition: all linear 0.3s;
  }

  @media only screen and (max-width: 600px) {
    .cursor {
      opacity: 0;
    }
    .bill {
      display: flex;
      width: 90vw;
    }
  }
}

.sticky {
  position: fixed;
  height: 70px;
  background-color: $blue;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  border-bottom: 1px solid black;
  transition: all linear 0.3s;
}

.cursor {
  height: 60px;
  width: 60px;
  position: fixed;
  background-color: $green;
  border-radius: 50%;
  z-index: 999;
  pointer-events: none;
  mix-blend-mode: difference;
}
