@import "/src/styles/config";

.wrapper {
  height: 100vh;
  background-color: $green;

  @media only screen and (max-width: 600px) {
    height: auto;
    cursor: default;
  }

  .header {
    height: 88vh;
    background: url("../assets/Bill.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
    margin-left: 30px;
    background-size: 80%;
    transition: all linear 0.4s;
  }

  .textWrapper {
    height: 12vh;
    p {
      margin-left: 30px;
      margin-bottom: 10px;
      position: absolute;
      top: 0;
      font-size: 3rem;
    }
  }

  @media only screen and (max-width: 600px) {
    .header {
      height: 40vh;
      margin-bottom: 50px;
      background-size: 90% !important;
    }
  }
}
.nav {
  position: fixed;
  height: 75px;
  background-color: $blue;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  border-bottom: 1px solid black;
  opacity: 0;
  cursor: none;
  transition: all linear 0.1s;
  .navImage {
    height: 75px;
    background-image: url("../assets/Bill.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 8%;
    margin-left: 30px;

    @media only screen and (max-width: 600px) {
      background-size: 25%;
    }
  }
}

.cursor {
  height: 65px;
  width: 65px;
  position: fixed;
  background-color: $green;
  border-radius: 50%;
  z-index: 999;
  pointer-events: none;
  mix-blend-mode: difference;
  @media only screen and (max-width: 600px) {
    display: none;
  }
}
