@import "/src/styles/config";

.wrapper {
  height: 80vh;
  border-bottom: 1px solid $black;
  display: flex;
  flex-direction: row;
  padding-left: 30px;
  flex-wrap: wrap;
  padding-top: 50px;
  @media screen and (max-width: 600px) {
    flex-wrap: wrap;
  }

  ul {
    list-style-type: none;
    text-align: left;
    padding: 0;
    li {
      padding-bottom: 4px;
    }
  }
  .title {
    width: 20%;
    @media screen and (max-width: 600px) {
      width: 50%;
    }
  }
  .tech {
    width: 20%;
    @media screen and (max-width: 600px) {
      width: 50%;
    }
  }
  .description {
    width: 50%;
    @media screen and (max-width: 600px) {
      width: 100%;
      padding-right: 10vw;
    }
  }
}
