@import "/src/styles/config";

.wrapper {
  border-bottom: 1px solid $black;
  display: flex;
  flex-direction: row;
  padding: 50px 30px;
  flex-wrap: wrap;
  padding-top: 50px;
  @media screen and (max-width: 600px) {
    flex-wrap: wrap;
  }

  ul {
    list-style-type: none;
    text-align: left;
    padding: 0;
    li {
      padding-bottom: 4px;
    }
  }
  .title {
    width: 20%;
    @media screen and (max-width: 600px) {
      width: 50%;
    }
  }
  .tech {
    width: 20%;
    @media screen and (max-width: 600px) {
      width: 50%;
    }
  }
  .description {
    width: 50%;
    @media screen and (max-width: 600px) {
      width: 100%;
      padding-right: 10vw;
    }
  }
}

.gallery {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  gap: 10px;
  align-items: center;
  .galleryItem {
    width: 25%;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 17px;
    box-sizing: content-box;
    @media screen and (max-width: 600px) {
      width: 30vw;
      height: 350px;
    }
  }
  @media screen and (max-width: 600px) {
    flex-wrap: wrap;
    gap: 25px;
  }
}
